# Dependencies
node_modules/

# Next.js
.next/
out/

# Expo / React Native
ahli-connect-mobile/.expo/
ahli-connect-mobile/dist/
ahli-connect-mobile/ios/
ahli-connect-mobile/android/

# Build
build/
dist/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
*.log

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.pem
